<%- include header%>

<div class="container theme-showcase" role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="panel panel-default col-sm-12 theme-showcase" role="main" >
        <div class="panel-heading">
            <h3 class="panel-title text_left">购物清单</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered text_center">
                <thead>
                <tr>
                    <th class="text_center">
                        分类
                    </th>
                    <th class="text_center">
                        名称
                    </th>
                    <th class="text_center">
                        单价（元）
                    </th>
                    <th class="text_center">
                        单位
                    </th>
                    <th class="text_center">
                        数量
                    </th>
                    <td class="text_center">
                        小计
                    </td>
                </tr>
                </thead>
                <tbody>
                <% var count = 0,subtotal = 0;goods.forEach(function(good,index){%>
                <tr>
                    <td><%= good.kind %></td>
                    <td><%= good.name %></td>
                    <td><%= good.price %></td>
                    <td><%= good.unit %></td>
                    <td>
                        <div class="btn-group">
                            <a type="button" class="btn btn-primary" href="/subCart?goodName=<%= good.name%>">-</a>
                            <button class="btn btn-default"><%= good.num %></button>
                            <a type="button" class="btn btn-primary" href="/addCart?goodName=<%= good.name%>">+</a>
                        </div>
                    </td>
                    <% if(good.twosendone == "true" && good.num > 2){ %>
                    <td><%= subtotal = (good.num%3 +parseInt(good.num/3)*2) * good.price %>元(原价：<%= good.num * good.price%>元)</td>
                    <% }else{%>
                    <td><%= subtotal = good.num * good.price%>元</td>
                    <% } %>
                </tr>
                <% count += subtotal; }) %>
                </tbody>
            </table>
            <p align="right">总计：<%= count %>元</p>
            <p align="right"><a href="/pay" class="btn btn-primary btn-lg" role="button">付款</a></p>
        </div>
    </div>
</div>
<script src="viewStage/cart.js"></script>
<%- include footer%>
