<%- include header %>


<div class="container theme-showcase" role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="panel panel-default col-sm-12 theme-showcase" role="main" >
        <div class="panel-heading">
            <h3 class="panel-title text_center">商品列表</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered text_center">
                <thead>
                <tr>
                    <th class="text_center">
                        分类
                    </th>
                    <th class="text_center">
                        名称
                    </th>
                    <th class="text_center">
                        单价（元）
                    </th>
                    <th class="text_center">
                        单位
                    </th>
                    <th>
                    </th>
                </tr>
                </thead>
                <tbody>
                <% goods.forEach(function(good,index) { %>
                <tr>
                    <td><%= good.kind %></td>
                    <td><%= good.name %></td>
                    <td><%= good.price %></td>
                    <td><%= good.unit %></td>
                    <td class="hidden"><%= good.twosendone %></td>
                    <td><a class="btn btn-primary addGood" type="button" href="#">加入购物车</a></td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/viewStage/item_list.js"></script>

<%- include footer %>

