<%- include header %>

<script src="/viewStage/pay.js"></script>

<div class="container theme-showcase" role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="panel panel-default col-sm-12 theme-showcase" role="main">
        <div class="panel-heading">
            <h3 class="panel-title text_left">购物清单</h3>
        </div>
        <div class="panel-body">
            <p id="now_time"></p>
            <table class="table table-bordered text_center">
                <thead>
                <tr>
                    <th class="text_center">
                        分类
                    </th>
                    <th class="text_center">
                        名称
                    </th>
                    <th class="text_center">
                        单价（元）
                    </th>
                    <th class="text_center">
                        单位
                    </th>
                    <th class="text_center">
                        数量
                    </th>
                    <th class="text_center">
                        小计
                    </th>
                </tr>
                </thead>
                <tbody>
                <% var actualCost = 0, totalPay = 0, initialCost = 0, benefit = 0, totalBenefit = 0; %>
                <% goods.forEach(function(good, index) { %>
                <tr>
                    <td><%= good.kind %></td>
                    <td><%= good.name %></td>
                    <td><%= good.price %></td>
                    <td><%= good.unit %></td>
                    <td><%= good.num %></td>
                    <% if(good.twosendone == "true" && good.num > 2){ %>
                    <td><%= actualCost = (good.num % 3 + parseInt(good.num / 3) * 2) * good.price %>
                        元(原价：<%= initialCost = good.num * good.price %>元)
                    </td>
                    <% benefit = initialCost - actualCost; %>
                    <% totalBenefit += benefit; %>
                    <% }else{ %>
                    <td><%= actualCost = good.num * good.price %>元</td>
                    <% } %>
                </tr>
                <% totalPay += actualCost; }) %>
                </tbody>
            </table>
        </div>
        <div class="panel-heading">
            <h3 class="panel-title text_left">赠送商品</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered text_center">
                <thead>
                <tr>
                    <th class="text_center">
                        分类
                    </th>
                    <th class="text_center">
                        名称
                    </th>
                    <th class="text_center">
                        数量
                    </th>
                </tr>
                </thead>
                <tbody>
                <% promotions.forEach(function(promotion, index) { %>
                <tr>
                    <td><%= promotion.kind %></td>
                    <td><%= promotion.name %></td>
                    <td><%= promotion.num %></td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
        <p align="right">总计：<%= totalPay %>元</p>

        <p align="right">节省：<%= totalBenefit %>元</p>

        <p align="right"><a href="/?pay=sure" class="btn btn-primary btn-lg" role="button">确认</a></p>
    </div>
</div>

<%- include footer %>