<%- include header %>

<div class="col-xs-12 col-md-12 addGoods">

    <div class="col-xs-1 col-md-2"></div>
    <div class="col-xs-12 col-md-10 goodForm">
        <form class="form-horizontal" role="form" method="post">
            <div class="btnBar">
                <div class="row">
                    <div class="col-xs-3 col-md-3"><button type="submit" class="btn btn-primary">保存属性</button></div>
                    <div class="col-xs-3 col-md-3"><a href="/addAttribute/?name=<%= good.name%>" class="btn btn-primary">添加属性</a></div>
                    <div class="col-xs-3 col-md-3"><a href="/subAttribute/?name=<%= good.name%>" class="btn btn-primary">删除属性</a></div>
                    <div class="col-xs-3 col-md-3"><a type="button" class="btn btn-primary" href="/goodsInfo/?name=<%= good.name%>" >取消</a></div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-sm-2 control-label">商品名称: &nbsp;&nbsp;</label>
                <div class="col-sm-10">
                    <input  name='name' value="<%= good.name%>" type="text" class="form-control" placeholder="请输入商品名称">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-sm-2 control-label">商品数量: &nbsp;&nbsp;</label>
                <div class="btn-group col-sm-10 input-group number">
                    <span class="input-group-btn">
                        <a class="btn btn-default subNum" type="button">-</a>
                    </span>
                    <input name='count' value="<%= good.count%>" type="text" class="form-control"
                           onkeydown="checkInt();"
                           onblur="checkInt(); if($(this).val()==''){ $(this).val(0); }">
                    <span class="input-group-btn">
                        <a class="btn btn-default addNum" type="button">+</a>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-sm-2 control-label">单价(元): &nbsp;&nbsp;&nbsp;</label>
                <div class="col-sm-10">
                    <input name="price" value="<%= good.price%>" type="text" class="form-control"  placeholder="请输入单价"
                           onkeydown="checkDecimal();"
                           onblur="checkDecimal();">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-sm-2 control-label">单位: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <div class="col-sm-10">
                    <input name="unit" value="<%= good.unit%>" type="text" class="form-control"  placeholder="请输入单位">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-sm-2 control-label">类型: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <div class="col-sm-10">
                    <input name="kind" value="<%= good.kind%>" type="text" class="form-control"  placeholder="请输入类型">
                </div>
            </div>
            <% for(var attributes in good){%>
            <% if(attributes == 'other') {%>
            <% good[attributes].forEach(function(attr){ %>
            <div class="form-group col-md-6">
                <label class="col-sm-2 control-label"><%= attr.attrName%>: &nbsp;&nbsp;</label>
                <div class="col-sm-10">
                    <input name="<%= attr.attrName%>" type="text" class="form-control" value="<%= attr.attrValue%>">
                </div>
            </div>
            <% })%>
            <% }} %>
        </form>
    </div>

</div>

<script src="../viewStage/backstage/addGoods.js"></script>


<%- include footer%>