<%- include header %>

<div class="col-xs-12 col-md-12 goodsInfo">

    <div class="col-xs-1 col-md-1"></div>
    <div class="col-xs-12 col-md-11 goodForm">
        <form class="form-horizontal" role="form" method="post">
            <div class="btnBar">
                <div class="row">
                    <div class="col-xs-3 col-md-3"><button type="submit" class="btn btn-primary">保存属性</button></div>
                    <div class="col-xs-3 col-md-3"><a  class="btn btn-primary addAttr" href="/addAttribute/?from=goodsInfo&id=<%= good._id%>">添加属性</a></div>
                    <div class="col-xs-3 col-md-3"><a  class="btn btn-primary" href="/subAttribute/?from=goodsInfo&id=<%= good._id%>">删除属性</a></div>
                    <div class="col-xs-3 col-md-3"><a type="button" class="btn btn-primary reset" href="/goodsInfo/?id=<%= good._id%>" >取消</a></div>
                </div>
            </div>
            <input name="id" id="id" class="hidden" value="<%= good._id%>">
            <div class="form-group col-md-6">
                <div class="col-md-2">
                    <label class="col-sm-2 control-label">商品名称:</label>
                </div>
                <div class="col-sm-10 col-md-10">
                    <input  name='name' id="name" type="text" class="form-control" placeholder="请输入商品名称"
                            <% if(thisInfo.name != undefined) {%>
                            value="<%= thisInfo.name %>"
                            <% } else { %>
                            value="<%= good.name%>"
                            <% } %>
                            >
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-2">
                    <label class="col-sm-2 control-label">商品数量:</label>
                </div>
                <div class="btn-group col-sm-10 col-md-10 input-group number">
                    <span class="input-group-btn">
                        <a class="btn btn-default subNum" type="button">-</a>
                    </span>
                    <input name='count' id="count"  type="text" class="form-control"
                            <% if(thisInfo.count != undefined) {%>
                           value="<%= thisInfo.count %>"
                            <% } else { %>
                           value="<%= good.count %>"
                           <% } %>
                           onkeydown="checkInt();"
                           onblur="checkInt(); if($(this).val()==''){ $(this).val(0); }"
                            >
                    <span class="input-group-btn">
                        <a class="btn btn-default addNum" type="button">+</a>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-2">
                    <label class="col-sm-2 control-label">单价(元):</label>
                </div>
                <div class="col-sm-10 col-md-10">
                    <input name="price" id="price" type="text" class="form-control"  placeholder="请输入单价"
                            <% if(thisInfo.price != undefined) {%>
                           value="<%= thisInfo.price %>"
                            <% } else { %>
                           value="<%= good.price%>"
                            <% } %>
                           onkeydown="checkDecimal();"
                           onblur="checkDecimal();"
                            >
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-2">
                    <label class="col-sm-2 control-label">单位:</label>
                </div>
                <div class="col-sm-10 col-md-10">
                    <input name="unit" id="unit" type="text" class="form-control"  placeholder="请输入单位"
                            <% if(thisInfo.unit != undefined) {%>
                           value="<%= thisInfo.unit %>"
                            <% } else { %>
                           value="<%= good.unit%>"
                            <% } %>
                            >
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-2">
                    <label class="col-sm-2 control-label">类型:</label>
                </div>
                <div class="col-sm-10 col-md-10">
                    <input name="kind" id="kind" type="text" class="form-control"  placeholder="请输入类型"
                            <% if(thisInfo.kind != undefined) { %>
                           value="<%= thisInfo.kind %>"
                            <% } else { %>
                           value="<%= good.kind %>"
                            <% } %>
                            >
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-2">
                    <label class="col-sm-2 control-label">发布时间:</label>
                </div>
                <div class="col-sm-10 col-md-10">
                    <input name="date" id="date" type="text" class="form-control"  disabled="disabled"
                           value="<%= good.date %>"
                           >
                </div>
            </div>
            <% for(var attributes in good) { %>
            <% if(attributes == 'other') { %>
            <% good[attributes].forEach( function(attr) { %>
            <div class="form-group col-md-6">
                <div class="col-md-2">
                    <label class="col-sm-2 control-label"><%= attr.attrName %>:</label>
                </div>
                <div class="col-sm-10 col-md-10">
                    <input name="<%= attr.attrName %>" type="text" class="form-control" value="<%= attr.attrValue %>">
                </div>
            </div>
            <% }) %>
            <% }} %>
            <% newAttr.forEach( function(attr) { %>
            <div class="form-group col-md-6">
                <div class="col-md-2">
                    <label class="col-sm-2 control-label"><%= attr.attrName%>:</label>
                </div>
                <div class="col-sm-10 col-md-10">
                    <input name="<%= attr.attrName %>" type="text" class="form-control" value="<%= attr.attrValue %>">
                </div>
            </div>
            <% }) %>
        </form>
    </div>

</div>

<script src="../viewStage/backstage/goodsInfo.js"></script>

<%- include footer %>